.clients-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 30px;
	@include desktop {
		margin-top: 50px;
	}
	gap: 30px;
}

.clients-list__item {
	flex-basis: calc((100% - 30px) / 2);

	@include tablet {
		flex-basis: calc((100% - 60px) / 3);
	}
	@include desktop {
		flex-basis: calc((100% - 5 * 30px) / 6);
	}
	height: 92px;
}
.clients-list__link {
	@include flexCentering;
	width: 100%;
	height: 100%;
	border: 1px solid var(--icons-fill);
	border-radius: 4px;

	color: var(--icons-fill);

	@include transition(color, border-color);

	&:hover,
	&:focus {
		color: var(--accent-color);
		border-color: var(--accent-color);
		outline: none;
	}
}
